/* Menú general */
.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: #F6E294;
    z-index: 50;
    overflow: hidden;
    animation: all 0.5s ease;
  }
  
  .menu--expanded {
    height: 100vh; /* Menú ocupa toda la pantalla */
  }

  /* Menú superior */
  .menu__top {
    display: flex;
    flex-direction: column;
    height: 60px;
    border-bottom: 1px solid #000;
  }
  
  .menu__logo {
    display: flex;
    flex-basis: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: #000;
  }
  
  .menu__logo-link {
    display: flex;
    align-items: center;
    flex-basis: calc(100% - 150px);
    height: 60px;
  }
  
  .menu__logo-link:first-child {
    justify-content: start;
  }
  
  .menu__logo-link:last-child {
    justify-content: end;
  }
  
  .menu__logo-image {
    margin-left: 20px;
    height: 80%;
  }
  

/* Botón del menú */
.menu__toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 90px;
  cursor: pointer;
}

.menu__toggle-checkbox {
  display: none;
}

.menu__toggle label {
  display: block;
  cursor: pointer;
  width: 80px; 
  height: 80px;
}

.menu__toggle svg {
  width: 100%;
  height: 100%;
  transform: scale(1.8); 
  transform-origin: center;
}

.menu__toggle-line {
  fill: none;
  stroke: #000; 
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.menu__toggle .line--1,
.menu__toggle .line--3 {
  --total-length: 126.64183044433594;
}

.menu__toggle .line--2 {
  --total-length: 70;
}


.menu__toggle-checkbox:checked + svg .line--1,
.menu__toggle-checkbox:checked + svg .line--3 {
  --length: 22.627416998;
  --offset: -94.1149185097;
}

.menu__toggle-checkbox:checked + svg .line--2 {
  --length: 0;
  --offset: -50;
}

  
  /* Noticias */
  .menu__news {
    display: flex;
    overflow: hidden;
    flex-basis: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 1.125em;
    color: #272723;
  }
  
  .menu__news-item {
    white-space: nowrap;
    animation: stripe 40s linear infinite;
    animation-delay: -40s;
  }
  
  .menu__news-item:last-child {
    animation: stripe2 40s linear infinite;
    animation-delay: -20s;
  }
  
  .menu__news-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 6px;
  }
  
  .menu__news-highlight {
    font-family: 'Helvetica NB', sans-serif;
  }
  
  .menu__news-link {
    font-family: 'Helvetica NB', sans-serif;
    color: #272723;
    text-decoration: underline;
  }
  
  /* Menú inferior */
  .menu__bottom {
    display: none;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
  }

  .menu__bottom--visible {
    display: flex;
  }
  
  .menu__item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .menu__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #272723;
  }
  
  .menu__link:hover {
    background-color: #F1F0C2;
  }
  
  /* Responsividad */
  @media (min-width: 880px) {
    .menu {
      height: 90px;
    }
  
    .menu__top {
      flex-direction: row;
    }
  
    .menu__logo {
      flex-basis: 24%;
      border-right: 1px solid #000;
    }
  
    .menu__logo-link {
      justify-content: center;
      align-items: center;
      flex-basis: 80%;
    }
  
    .menu__logo-image {
      margin: 5px;
    }
  
    .menu__toggle {
      display: none;
    }
  
    .menu__news {
      flex-basis: 76%;
      height: 60px;
    }

    .menu__bottom {
    display: flex; /* El menú es visible por defecto en escritorio */
    flex-direction: row;
    justify-content: center;
  }
  
    .menu__item {
      margin: 0;
      border: none;
      border-right: 1px solid #000;
    }
  
    .menu__link {
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 0.875em;
    }
  }  

  @keyframes stripe{
    0%{ transform: translateX(100%); }
    100%{ transform: translateX(-100%);}
  }
  
  @keyframes stripe2{
    0%{ transform: translateX(0); }
    100%{ transform: translateX(-200%); }
  }